################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MetaCortex.Products/CopilotIndices/17.12.38.29086
/.vs/MetaCortex.Products/DesignTimeBuild
/.vs/MetaCortex.Products/FileContentIndex
/.vs/MetaCortex.Products/v17
/.vs/Products.API/CopilotIndices/17.12.38.29086
/.vs/Products.API/DesignTimeBuild
/.vs/Products.API/FileContentIndex
/MetaCortex.Products.DataAccess/bin/Debug/net8.0
/.vs/ProjectEvaluation
/.vs/MetaCortex.Products/config
/MetaCortex.Products.DataAccess/obj/Debug/net8.0
/MetaCortex.Products.DataAccess/obj
/Products.API/bin/Debug/net8.0
/Products.API/obj
