name: Build and Publish Docker Image

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checka ut koden från repositoryt
      - name: Checkout repository
        uses: actions/checkout@v3

      # Logga in på GitHub Container Registry med GITHUB_TOKEN
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Sätt upp .NET miljö
      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0

      # Bygg och pusha Docker-image
      - name: Build and push Docker image
        run: |
          docker build -f Products.API/Dockerfile -t ghcr.io/gabrielrai/metacortex-products:latest .
          docker push ghcr.io/gabrielrai/metacortex-products:latest
